<extend name="public:frameset"/>
<block name="body">
    <div id="background">
        <h1 style="height:50px;text-line:50px;"">游戏展示！</h1>
        <div id="content1">
            <ul>
                <li>
                    <a href="{:U('Index/game')}">
                        <img width="396px" height="213px" src="__PUBLIC__/assets/global/img/game.png" alt="game">
                        <span>
                            <img width="720px" height="420px" src="__PUBLIC__/assets/global/img/game.png" alt="game"><br>猜数字
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{:U('Index/game1')}">
                        <img width="396px" height="213px" src="__PUBLIC__/assets/global/img/game1.png" alt="game1">
                        <span>
                            <img width="720px" height="420px" src="__PUBLIC__/assets/global/img/game1.png" alt="game1"><br>心灵感应
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</block>