.bordered {
  border-bottom: 1px solid #dddddd;
  margin: 0 -30px 0 0;
}
.bordered .row .laba {
  position: absolute;
  top: 1px;
  left: 5%;
  font-size: 1.3em;
}
.bordered .row .homyi {
  position: relative;
  left: 20px;
  font-size: 1.1em;
  font-family: "微软雅黑";
}
.bordered .row #gdong {
  position: relative;
  height: 28px;
  top: 1px;
  left: -30px;
  overflow: hidden;
  font-size: 1em;
  font-family: "微软雅黑";
}
.bordered .row #gdong ul {
  text-align: center;
  list-style: none;
  margin-left: -33px;
}
.bordered .row #gdong ul li {
  height: 40px;
}
.bordered .row #tup {
  position: relative;
  top: 0;
  left: 26.66666667px;
  cursor: pointer;
}
.bordered .row #tdown {
  position: relative;
  top: -8px;
  left: 26.66666667px;
  cursor: pointer;
}
